@import "bootstrap";
@import "bootstrap/theme";

p {
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-family: 'Righteous', cursive;
  font-size: 6rem;
  color: white;
  @media(max-width:768px){
    font-size: 3rem;
  }
}

h2 {
    font-family: 'Righteous', cursive;
}

.nav-logo {
  height: 55px;
  float: left;

 @media(max-width:768px){
  padding-left: 15px;
 }
}

.navbar {
margin-bottom: 0px;
border: none;
}

.main-nav, .bottom-nav {
  background-color: black;
}

 .navbar-dropdown {
   border: none;
 }

 .navbar-default .navbar-brand {
    color: white;
    font-family: 'Righteous', cursive;

    @media(max-width:480px){
      font-size: 20px;
    }
        @media(min-width:480px){
          font-size: 34px;
        }
}

.navbar-brand {
  float: left;
}

.navbar-default{
   color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.icon-bar {

  padding-top: 3px;

  @media(max-width:767px){
  text-align: center;}
}

.social-icon {

 color: white;
 &:hover{

   color: grey;
 }
}

.icon-m-right {
  margin-right: 1rem;
}

.icon-m-adjust {

  @media(min-width:768px){
  margin-right: 30px; }
}

.navbar-fixed-bottom {
  min-height: 30px;
}

body, html {
    height: 100%;
}

.bg-1 {
  background-image: url("/img/band2.jpg");
}

.bg-2 {
  background-image: url("/img/logo-large.jpg");
}

.para-section {

  background-color: black;
  color: white;
  margin-bottom: 45px;
  padding-bottom: 30px;
}
.parallax {
    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-text {
  margin-top: 38rem;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding-bottom: 15px;
}

.product-info {


  //background-color: grey;
  border: 2px solid grey;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;

  .product-text {
    padding-bottom: 50px;
  }
}

.icon-wrapper {
  margin-bottom: 15px;
}

.button-wrapper {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 100%;
  left: 0;
}

.btn-info {
 background-color: black;
 background-image: none;
 border: 2px solid grey;
 border-radius: 15px;
}

@keyframes fadeIn {
 0% {
   opacity: 0;
 }
 100%{
   opacity: 1;
 }

}

@keyframes fadeOut {
 0% {
   opacity: 1;
 }
 100%{
   opacity: 0;
 }

}

.ng-enter {
  animation: fadeIn 0.8s both ease-in; z-index: 8888;
}
.ng-leave {
  animation: fadeOut 0.5s both ease-out; z-index: 9999;
}
