<div class="parallax bg-1">

<div class="container-fluid">
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center intro-text">
  <h1>Comprehensive Sound and Lighting solutions </br>

  From House Party to Concert</br>

  Conference to Wedding</h1>
</div>
</div>

</div>
</div>

<div class="para-section">

<div class="container-fluid">
<div class="row">
<div class="col-sm-12 col-md-4 col-lg-2 col-lg-offset-1">
  <div class="product-info">
  <h2 class="text-center">Sound Systems</h2>
  <div class="icon-wrapper text-center">
  <i class="fa fa-music fa-4x" aria-hidden="true"></i>
</div>
    <p class="text-center product-text">Small "Plug and Play packages for parties and discos</br></br>
    Sound Systems for Live Music, Theatre and Worship</br></br>
    Systems for Weddings, Conferences, and Events</p>
    <div class="button-wrapper text-center">
      <button type="button" class="btn btn-info">More Info</button>
    </div>
</div>
</div>
<div class="col-sm-12 col-md-4 col-lg-2">
    <div class="product-info">
  <h2 class="text-center">Lighting</h2>
  <div class="icon-wrapper text-center">
  <i class="fa fa-lightbulb-o fa-4x" aria-hidden="true"></i>
</div>
<p class="text-center  product-text">
Sound and lighting packages for parties, DJs and mobile discos</br></br>
Full lighting systems for Live Music and Theatre</br></br>
Uplighting and Moodlighting for Weddings and Functions
</p>
<div class="button-wrapper text-center">
  <button type="button" class="btn btn-info">More Info</button>
</div>
  </div>
</div>
<div class="col-sm-12 col-md-4 col-lg-2">
    <div class="product-info">
  <h2 class="text-center">Lasers and Projection</h2>
  <div class="icon-wrapper text-center">
  <i class="fa fa-picture-o fa-4x" aria-hidden="true"></i>
</div>
<p class="text-center product-text">
 Fully programmable laser shows</br></br>
 Atmospherics and visual effects</br></br>
 Projectable onto virtually any surface
</p>
<div class="button-wrapper text-center">
  <button type="button" class="btn btn-info">More Info</button>
</div>
  </div>
</div>
<div class="col-sm-12 col-md-4 col-md-offset-2 col-lg-offset-0 col-lg-2">
    <div class="product-info">
  <h2 class="text-center">Recording</h2>
  <div class="icon-wrapper text-center">
  <i class="fa fa-microphone fa-4x" aria-hidden="true"></i>
</div>
<p class="text-center product-text">
 Studio and Live Venue Recording</br></br>
 Audio, Video and Photography</br></br>
 Online publishing and digital media creation
</p>
<div class="button-wrapper text-center">
  <button type="button" class="btn btn-info">More Info</button>
</div>
  </div>
</div>
<div class="col-sm-12 col-md-4 col-lg-2">
    <div class="product-info">
  <h2 class="text-center">PAT Testing</h2>
  <div class="icon-wrapper text-center">
  <i class="fa fa-bolt fa-4x" aria-hidden="true"></i>
</div>
<p class="text-center product-text">
Portable Appliance Testing</br></br>
Qualified testing technician</br></br>
Modern and sophisticated testing equipment
</p>
<div class="button-wrapper text-center">
  <button type="button" class="btn btn-info">More Info</button>
</div>
  </div>
</div>
</div>

</div>
</div>

<!--<div class="parallax bg-2"></div>-->
